body {
    font-family: "Nanum Gothic", serif;
    /* font-weight: 400; */
    /* font-style: normal; */
  }
  .header {
    display: grid;
    align-items: center;
    font-family: "Moirai One", serif;
    font-weight: 400;
  }
  .margin {
    height: 20px;
  }
  #title {
    text-align: center;
    font-size: 24px;
  }
  #title a {
    color: #c9d1d9;
    text-decoration: none;
  }
  #copyright {
    display: grid;
    height: 50px;
    align-items: center;
  }
  #copyright p {
    text-align: center;
    font-size: 10px;
  }
  #github_link {
    text-align: center;
  }
  #github_link > a > i {
    color: #c9d1d9;
  }
  hr {
    width: 75%;
    border-color: #ccc;
    border-width: 1px 0 0 0;
  }
  .markdown-body {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
  }
  .collapsible {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  .collapsible button {
    background: none;
    border: none;
    font-size: inherit; /* 제목 크기 유지 */
    cursor: pointer;
  }
  .collapsible-content {
    display: block; /* 기본적으로 펼쳐진 상태 */
  }

  h2 {
    margin-left: 20px;
  }
  h3 {
    margin-left: 20px;
  }
  h4 {
    margin-left: 40px;
  }
  .markdown-body
    :not(h1):not(h2):not(h3):not(h4):not(span):not(ul):not(li):not(
      code
    ):not(strong):not(em) {
    margin-left: 20px;
  }